@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

    <div class="header-right">
        
               

                    <div class="user-panel">

                        @if (SignInManager.IsSignedIn(User))
                         {
                            <a asp-action="Logout" asp-controller="Account">Sign Out</a>

                         }
                        else
                        {
                            <a asp-action="Login" asp-controller="Account" class="login">Sign In</a>
                            <span>|</span>
                            <a  asp-action="Register" asp-controller="Account" class="register">Sign Up</a>
                        }
                        </div>





    </div>







@*<ul class="navbar-nav navbar-right">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link btn btn-link text-dark" href="/Account/Logout">Logout</a>
            <form class="form-inline" asp-action="Logout" asp-controller="Account">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }

    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-action="Register" asp-controller="Account">Sign Up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-action="Login" asp-controller="Account">Sign In</a>
        </li>
    }
</ul>*@
