
@{
    ViewData["Title"] = "Signed Out";
    Layout = "~/Views/Shared/_Layout.cshtml";

}



<h5>
    You have successfully signed out.

</h5>


<a class="btn btn-primary" asp-action="Login" asp-controller="Account">
    <i class='fas fa-hand-point-right' style='font-size:24px; color:white;'> Sign In</i> 
</a>











